/Qoodie/nbproject/private/
/Qoodie/Qoodie-war/nbproject/private/
/Qoodie/Qoodie-ejb/nbproject/private/
/Qoodie/build.xml
/Qoodie/build/
/Qoodie/nbbuild/
/Qoodie/dist/
/Qoodie/nbdist/
/Qoodie/.nb-gradle/
/Qoodie/Qoodie-ejb/build/
/Qoodie/Qoodie-ejb/dist/
/Qoodie/Qoodie-war/build/
/Qoodie/Qoodie-war/dist/

.iml
./idea