
#top {
    position: relative;
    background-color: #FFFFFF;
    color: black;
    padding: 5px;
    margin: 0px 0px 10px 0px;
    text-align: center;
}
i{
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}
.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}


#bottom {
    position: relative;
    background-color: #FFFFFF;
    padding: 5px;
    margin: 10px 0px 0px 0px;
    text-align: center;
}

#left {
    float: left;
    background-color: #FFFFFF;
    padding: 5px;
    width: 150px;
}

#right {
    float: right;
    background-color: #FFFFFF;
    padding: 5px;
    width: 150px;
}
.title{
    font-size: 25px;
}

.ui-datalist {
    width:300px;
    margin-bottom: 20px;
}

.ui-datalist-item {
    padding:3px;
}

.paginated .ui-datalist-data {
    padding-left: 20px;
}

.table{
    position: relative;
    left: 700px;

}

.center_content {
    position: relative;
    background-color: #FFFFFF;
    padding: 5px;
    text-align: center;
}

.left_content {
    background-color: #dddddd;
    padding: 5px;
    margin-left: 170px;
}

.right_content {
    background-color: #dddddd;
    padding: 5px;
    margin: 0px 170px 0px 170px;
}

#top a:link, #top a:visited {
    color: white;
    font-weight : bold;
    text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
    color: black;
    font-weight : bold;
    text-decoration : underline;
}


