<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <filter>
        <filter-name>AdminFilter</filter-name>
        <filter-class>filter.AdminFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/customers</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>faces/index.xhtml</welcome-file>
    </welcome-file-list>
    <ejb-local-ref>
        <ejb-ref-name>CustomerSessionBeanLocal</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>session.CustomerSessionBeanLocal</local>
        <ejb-link>Qoodie-ejb.jar#CustomerSessionBean</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>OrderDishSessionBean</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>session.OrderDishSessionBeanLocal</local>
        <ejb-link>Qoodie-ejb.jar#OrderDishSessionBean</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>CustomerOrderSessionBean</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>session.CustomerOrderSessionBeanLocal</local>
        <ejb-link>Qoodie-ejb.jar#CustomerOrderSessionBean</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>DishSessionBeanLocal</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>session.DishSessionBeanLocal</local>
        <ejb-link>Qoodie-ejb.jar#DishSessionBean</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>CanteenSessionBeanLocal</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>session.CanteenSessionBeanLocal</local>
        <ejb-link>Qoodie-ejb.jar#CanteenSessionBean</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>CustomerSessionBeanLocal1</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>session.CustomerSessionBeanLocal</local>
        <ejb-link>Qoodie-ejb.jar#CustomerSessionBean</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>FileDirectorySessionLocal</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>session.FileDirectorySessionLocal</local>
        <ejb-link>Qoodie-ejb.jar#FileDirectorySession</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>DishTypeSessionBeanLocal</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>session.DishTypeSessionBeanLocal</local>
        <ejb-link>Qoodie-ejb.jar#DishTypeSessionBean</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>CustomerOrderTypeSessionBean</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>session.CustomerOrderTypeSessionBeanLocal</local>
        <ejb-link>Qoodie-ejb.jar#CustomerOrderTypeSessionBean</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>CustomerOrderTypeSessionBean1</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>session.CustomerOrderTypeSessionBeanLocal</local>
        <ejb-link>Qoodie-ejb.jar#CustomerOrderTypeSessionBean</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>CustomerOrderTypeSessionBean2</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>session.CustomerOrderTypeSessionBeanLocal</local>
        <ejb-link>Qoodie-ejb.jar#CustomerOrderTypeSessionBean</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>DishSessionBean</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>session.DishSessionBeanLocal</local>
        <ejb-link>Qoodie-ejb.jar#DishSessionBean</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>OrderDishSessionBean1</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>session.OrderDishSessionBeanLocal</local>
        <ejb-link>Qoodie-ejb.jar#OrderDishSessionBean</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>OrderDishSessionBean2</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>session.OrderDishSessionBeanLocal</local>
        <ejb-link>Qoodie-ejb.jar#OrderDishSessionBean</ejb-link>
    </ejb-local-ref>
</web-app>
